<p id="notice"><%= notice %></p>

<h1>My Songs</h1>

<p>
  <%= link_to new_song_path do %>
    <i class="glyphicon glyphicon-plus"></i> Add
  <% end %>
</p>

<div class="row">
  <% @songs.each_with_index do |song, index| %>
    <% if (@songs.length%2 == 0) || (index < @songs.length - 1) %>
      <div class="col-md-6">
    <% else %>
      <div class="col-md-6 col-md-offset-3">
    <% end %>
      <div class="well">
        <h2><%= link_to song.name, song %></h2>
        <h4>by <%= song.artist.name %></h4>
        <p>
          <% song.rating.times do %>
            <i class="glyphicon glyphicon-star yellow-star"></i>
          <% end %>
          <% (10 - song.rating).times do %>
            <i class="glyphicon glyphicon-star"></i>
          <% end %>
        </p>
        <p>
          <%= link_to edit_song_path(song) do %>
            <i class="glyphicon glyphicon-pencil"></i>
          <% end %>

          <%= link_to song, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="glyphicon glyphicon-trash"></i>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>



